<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>방명록 등록</title>
  </head>
  <body>
    <form name="visitor">
      <fieldset>
        <legend>방명록 등록</legend>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="사용자 이름"
        /><br />
        <input
          type="text"
          name="content"
          id="content"
          placeholder="방명록"
        /><br />
        <button type="button" onclick="writed()" id="submit">등록</button>
      </fieldset>
    </form>
    <table border="1" cellspacing="0" class="visitorTable">
      <thead>
        <td>ID</td>
        <td>작성자</td>
        <td>방명록</td>
        <td>수정</td>
        <td>삭제</td>
      </thead>
      <tbody>
        <% for (let i = 0; i < data.length; i++) { %>
        <tr id="tr_<%= data[i].id %>">
          <td><%= data[i].id %></td>
          <td><%= data[i].name %></td>
          <td><%= data[i].comment %></td>
          <td>
            <button type="button" onclick="get('<%= data[i].id %>')">
              수정
            </button>
          </td>
          <td>
            <button type="button" onclick="del('<%= data[i].id %>')">
              삭제
            </button>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <script>
      function writed() {
        const form = document.forms["visitor"];
        const data = {
          username: form.username.value,
          content: form.content.value,
        };
        axios({
          url: "/visitor/write",
          method: "POST",
          data,
        }).then((res) => {
          console.log(res.data);
          window.location.reload();
        });
      }

      function del(i) {
        console.log(i);
        axios({
          url: "/visitor/delete",
          method: "delete",
          data: { id: i },
        }).then((res) => {
          console.log(res.data);
          window.location.reload();
        });
      }

      function get(i) {
        console.log(i);
        axios({
          url: "/visitor/get",
          method: "get",
          params: { id: i },
        })
          .then((res) => {
            console.log(res.data);
            document.getElementById("username").value = res.data[0].name;
            document.getElementById("content").value = res.data[0].comment;
            const editButton = document.getElementById("submit");
            return { id: res.data[0].id, btn: editButton };
          })
          .then((res) => {
            console.log(res);
            res.btn.onclick = edit;
            function edit() {
              const form = document.forms["visitor"];
              const data = {
                id: res.id,
                username: form.username.value,
                content: form.content.value,
              };
              axios({
                url: "/visitor/edit",
                method: "patch",
                data: data,
              }).then((res) => {
                window.location.reload();
              });
            }
          });
      }
    </script>
  </body>
</html>
