<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- <div>------<%= data%>단------</div>
    <% for (let i=1; i<10; i++){%>
    <div><%= data %> x <%= i%> = <%= data * i %></div>
    <% }%> -->
    <% for (let i=0; i<9; i++) { %>
    <div>------<%= data[i] %>단------</div>
    <% for (var j=1; j<10; j++) { %>
    <div><%= data[i] %> x <%= j%> = <%= data[i]*j %></div>
    <% }%> <% } %>
  </body>
</html>
