<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <h1>실습1. axios get 회원가입</h1>
    <form name="register">
      <label for="username">이름</label>
      <input type="text" id="username" name="username" />
      <br />
      <fieldset>
        <legend>성별</legend>
        <input type="radio" name="gender" id="male" value="male" />
        <label for="male">남자</label>
        <input type="radio" name="gender" id="female" value="female" />
        <label for="female">여자</label>
      </fieldset>
      <br />
      <fieldset>
        <legend>생년월일</legend>
        <select name="birthYear" id="year">
          <% for(let i = 1990; i <= 2000; i++) { %>
          <option value="<%= i %>"><%= i %></option>
          <% } %>
        </select>
        <label for="year">년</label>
        <select name="birthMonth" id="month">
          <% for(let i = 1; i <= 12; i++) { %>
          <option value="<%= i %>"><%= i %></option>
          <% } %>
        </select>
        <label for="month">월</label>
        <select name="birthDay" id="day">
          <% for(let i = 1; i <= 31; i++) { %>
          <option value="<%= i %>"><%= i %></option>
          <% } %>
        </select>
        <label for="day">일</label>
      </fieldset>
      <br />
      <fieldset>
        <legend>관심사</legend>
        <input
          type="checkbox"
          name="hobby"
          id="travel"
          value="travel"
          class="hobby"
        />
        <label for="travel">여행</label>
        <input
          type="checkbox"
          name="hobby"
          id="fashion"
          value="fashion"
          class="hobby"
        />
        <label for="fashion">패션</label>
        <input
          type="checkbox"
          name="hobby"
          id="food"
          value="food"
          class="hobby"
        />
        <label for="food">음식</label>
      </fieldset>
      <br />
      <button type="button" onclick="axiosGet()">회원가입</button>
    </form>
    <br />
    <br />
    <a href="/">홈으로 이동</a>
    <script>
      function axiosGet() {
        console.log("axios get");
        const form = document.forms["register"];
        const hobbyCheck = document.querySelectorAll(".hobby");
        let hobbySel = [];
        for (i = 0; i < hobbyCheck.length; i++) {
          if (hobbyCheck[i].checked) {
            hobbySel.push(hobbyCheck[i].value);
          }
        }
        // console.log(hobbySel);
        const data = {
          name: form.username.value,
          gender: form.gender.value,
          birthYear: form.birthYear.value,
          birthMonth: form.birthMonth.value,
          birthDay: form.birthDay.value,
          hobby: hobbySel,
        };
        axios({
          method: "GET",
          url: "/axiosGet",
          params: data,
        }).then((res) => {
          //   console.log(res);
          console.log(`이름: ${res.data.name}`);
          console.log(`성별: ${res.data.gender}`);
          console.log(
            `생년월일: ${res.data.birthYear}-${res.data.birthMonth}-${res.data.birthDay}`
          );
          console.log(`관심사: ${res.data.hobby}`);
        });
      }
    </script>
  </body>
</html>
